.container {
  width: 80%;
  position: relative;
  margin: auto;
}

.titleCtn {
  background-color: #f5f5dc;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0 0 10% 10%;
}

.container {
  width: 80%;
  position: relative;
  margin: auto;
}

.titleCtn {
  background-color: #f5f5dc;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0 0 10% 10%;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 844px) {
  .titleCtn {
    position: relative;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  }

  img {
    display: none;
  }
}
