.btnContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: baseline;
}

.choiceBtnCtn {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}

.playBtn {
  display: inline-block;
  color: #fff;
  background-color: #181848;
  padding: 10px 30px;
  font-weight: bold;
  margin-top: 50px;
}

@media only screen and (max-width: 844px) {
  .choiceBtnCtn {
    gap: 25px;
  }
}
